img {
    width:100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.img-block {
    padding:20px;
}

.alert {
    text-align: center;
}